/* ----------------------- General --------------------------- */

html, body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #020029;
}

* {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px;
}

input, textarea {
    padding: 8px 10px;
    border-radius: 5px;
    border: solid 1px #404765;
    background-color: #121238;
    color: white;
}

button {
    cursor: pointer;
    padding: 8px 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0d0d6f;
}

button.confirm {
    background-color: #26C485;
}

button.danger {
    background-color: #F71735;
}

/* ---------------------- Login section ---------------------- */

.login-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    left: 0;
    background-color: #6668;
    width: 100vw;
    height: 100vh;
}

.login-container .login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-container .login-form input, .login-container .login-form button {
    font-size: 1rem;
}

/* --------------------- Chat and messages ------------------- */

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 460px;
    gap: 8px;
}

.chat-container .chat-user-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.chat-container .chat-messages {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    background-color: #121238;
    border-radius: 8px;
    font-size: 11pt;
    gap: 5px;
    padding: 10px 5px;
}

.chat-inputs {
    width: 100%;
}

.chat-inputs form {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-gap: 10px;
    margin-bottom: 5px;
}

.chat-inputs textarea {
    resize: none;
}

.chat-inputs button {
    font-size: 14pt;
}

.chat-container .chat-messages .chat-event {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chat-container .chat-messages .chat-event p {
    padding: 5px 8px;
    margin: 0;
    border-radius: 5px;
    color: white;
    background-color: #26C485;
}

.chat-container .chat-messages .chat-message {
    display: flex;
    gap: 5px;
}

.chat-container .chat-messages .chat-message p, .chat-container .chat-messages .chat-message p span {
    padding: 0;
    margin: 0;
}

.chat-container .chat-messages .chat-message p span {
    color: #26C485;
    font-weight: bolder;
    padding: 0 8px;
}